/* 
.plan_Workplace {
  display: inline-block;
  border: 2px solid red;
  width: 1000;
  height: 500;
  background-image: url(https://www.arstelle-office.ru/public/userfiles/images/planirovka_ofisa_arstelle_office_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
} */

.section > div:hover {
  cursor: pointer;
}

.disabled {
  /* background-color: grey; */
  -webkit-box-shadow: 0px 0px 70px -4px rgba(197, 48, 48, 0.26) inset;
  -moz-box-shadow: 0px 0px 70px -4px rgba(197, 48, 48, 0.26) inset;
  box-shadow: 0px 0px 70px -4px rgba(197, 48, 48, 0.26) inset;
}
.booked {
  -webkit-box-shadow: 0px 0px 70px 13px rgba(46, 206, 79, 0.26) inset;
  -moz-box-shadow: 0px 0px 70px 13px rgba(46, 206, 79, 0.26) inset;
  box-shadow: 0px 0px 70px 13px rgba(46, 206, 79, 0.26) inset;
}

.section .disabled:hover {
  cursor: not-allowed;
}

button {
  margin-top: 10px;
}

.seatsName {
  font-size: 1%;
}
