.App-link {
  color: #09d3ac;
}

.user-wrap{
text-align: left;
margin-right: 1%;
margin-top: 5%;
}

ul{
  list-style: none;
}

.creat-wrap{
  display: flex;
  justify-content: flex-end;
  margin-bottom:7%;
}
.input-wrap{
  display: flex;
  flex-direction: column;
}

.input-creat {
  background: none;
  border-width: 0;
  border-bottom: 2px solid transparent;
  margin-right: 2%;
}

.form-row {
  position: relative;
  margin-bottom: 35px;
}
.form-row input {
  display: block;
  line-height: 10px;
  transition: all 0.2s ease;
}
.form-row label {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}
.form-row input:focus {
  outline: 0;
  border-color: #4a90e2;
}
.form-row input:focus+label, .form-row input:valid+label{
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  color: #4a90e2;
}

.creat {
  margin: 0px auto!important;
}
.edit{
  margin-right: 4px!important;
}

input {
  width: 81%;
  padding: 0 1px;
  margin-right: 1px;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-style: italic;
  font-size: 1.1rem;
}

input:focus {
  outline: 0;
  border-color: #0078aa;
}

.button_return {
  position: fixed!important;
  top: 85%;
  left: 89.3%;
}

.MuiDialog-paperWidthSm {
  max-width: 400px!important;
  max-height: 310px;
}

.MuiDialog-scrollPaper {
  display: flex;
  align-items: flex-start!important;
  justify-content: flex-end!important;
}

.MuiDialogContent-root:first-child {
  padding-top: 1px!important;
}


.MuiTableCell-head{
  width: 24.61%!important;

}

.MuiTableCell-root {
  padding: 7px!important;
}